@font-face {
    font-family: photograf; /* Гарнитура шрифта */
    src: url(./fonts/font-dior/font-one.ttf); /* Для IE5-8 */
    src: local(photograf), url(./fonts/font-dior/font-one.ttf); /* Для остальных браузеров */
 }
@font-face {
font-family: aliyafonts; /* Гарнитура шрифта */
src: url(./fonts/font-aliya/aliyafonts.ttf); /* Путь к файлу со шрифтом */
}

*{
    margin: 0 auto;
}
/* 1 BLOCK */
.container{
    height: 115vh;
}
.container{

    background-image: url(./img/navbar-1.png);
    
    background-repeat: no-repeat;
    
    background-position: center center;    
    
    background-size: 100%;
}
.box-one{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
}
.navbar li{
    padding: 22px;
    font-size: 22px;
    list-style-type: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-family: 'photograf';
}
.navbar-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar-content .head-text{
    color: white;
    font-size: 8vh;
    font-family: 'aliyafonts';
    position: relative;
    top: 30vh;
    right: 45vh;
}
.navbar-content .head-desc{
    color: white;
    font-size: 8vh;
    font-family: 'aliyafonts';
    position: relative;
    top: 30vh;
    right: 45vh;
}
.desc{
    font-family: 'photograf';
    color: white;
    font-size: 24px;
}
.btn{
    position: relative;
    right: 47vh;
    top: 37vh;
    color: white;
    
}
.btn a{
    text-decoration: none;
    color: white;
}

/* 1 BLOCK END */

/* 2 BLOCK */
.container-two{
    height: 133vh;
}
.container-two{

    background-image: url(./img/navbar-2.png);
    
    background-repeat: no-repeat;
    
    background-position: center center;    
    
    background-size: 100%;
}

.container-two .btn {
    position: relative;
    top: 270px;
}
.container-two .navbar-content i {
    color: white;
    font-size: 120px;
    font-family: 'photograf';
    padding-top: 2em;
}
.container-two .btn a{
    text-decoration: none;
    color: white;
}
/* 2 BLOCK END */

/* 3 BLOCK */
.container-three{
    height: 133vh;
}
.container-three{

    background-image: url(./img/navbar-3.png);
    
    background-repeat: no-repeat;
    
    background-position: center center;    
    
    background-size: 100%;
}

.container-three .btn {
    position: relative;
    top: 270px;
}
.container-three .navbar-content i {
    color: white;
    font-size: 90px;
    font-family: 'photograf';
    padding-top: 3em;
}
.container-three .btn a{
    text-decoration: none;
    color: white;
}
/* 3 BLOCK END */

/* 4 BLOCK */
.container-four{
    height: 133vh;
}
.container-four{

    background-image: url(./img/navbar-4.png);
    
    background-repeat: no-repeat;
    
    background-position: center center;    
    
    background-size: 100%;
}

.container-four .btn {
    position: relative;
    top: 270px;
}
.container-four .navbar-content i {
    color: white;
    font-size: 90px;
    font-family: 'photograf';
    padding-top: 3em;
}
.container-four .btn a{
    text-decoration: none;
    color: white;
}
/* 4 BLOCK END */

/* 5 BLOCK */
.container-five{
    height: 133vh;
}
.container-five{

    background-image: url(./img/navbar-5.png);
    
    background-repeat: no-repeat;
    
    background-position: center center;  
    
    background-size: 100%;
}

.container-five .btn {
    position: relative;
    top: 270px;
}
.container-five .navbar-content i {
    color: white;
    font-size: 90px;
    font-family: 'photograf';
    padding-top: 3em;
}
.container-five .btn a{
    text-decoration: none;
    color: white;
}
/* 5 BLOCK END */

/* 6 BLOCK */
.container-aside{
    height: 435px;
}
.container-aside{

    background-color: black;
    
    background-repeat: no-repeat;
    
    background-position: center center;  
    
    background-size: 100%;
}

.container-aside .btn {
    position: relative;
    top: 100px;
    background-color: white;
    opacity: unset;

}
.container-aside .navbar-content i {
    color: white;
    font-size: 50px;
    font-family: 'aliyafonts';
    padding-top: 3em;
}
.container-aside .btn a{
    text-decoration: none;
    color: black;
}
/* 6 BLOCK END */

/* FOOTER */
.container-footer{
    height: 128px;
}
.container-footer{

    background-color: black;
    
    background-repeat: no-repeat;
    
    background-position: center center;   
    
    background-size: 100%;
}
.box-one{
    display: flex;
    align-items: center;
}
.box-one p{
    color: white;
    font-size: 15px;
}
.navbar{
    display: flex;
}
.navbar li{
    padding: 22px;
    font-size: 22px;
    list-style-type: none;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-family: 'photograf';
}
.navbar-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.navbar-content i{
    color: white;
    font-size: 140px;
    font-family: 'photograf';
    padding-top: 1em;
}
.desc{
    font-family: 'photograf';
    color: white;
    font-size: 24px;
}
.btn{
    position: relative;
    top: 270px;  
    color: white;
    
}
.btn{
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    width: 150px;
    opacity: 0.5;
}
.btn a{
    text-decoration: none;
    color: white;
}
.container-footer .navbar a{
    text-decoration: none;
    color: white;
    font-family: 'photograf';
    font-size: 15px;
}

/* FOOTER END */

/* GALLERY SLIDE */
.shapes{
    background-color: black;
    opacity: 0.7;
    padding: 5%;
    border-radius: 50%;
    position: relative;
    right: 15vh;
    top: 7vh;
    z-index: 1;
}
.gallery-slide{
    width: 100%;
    background: #939598 
}
.gallery-slide_text{
    color: #fff;
    font-size: 7vh;
    position: relative;
    left: 28vh;
    top: 8vh;
    z-index: 2;
}
.gallery-slide_container{
  width: 95%;
  display: flex;
  padding: 0 20px;
  margin-top: 16vh;
}
.slide{
  height: 100vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition:  all 500ms ease-in-out;
}
.slide h3{
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide.active{
  flex: 10;
}
.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

/* END */

.text-container {
    display: flex;
    justify-content: center;
    block-size: min(10rem, 23vw);
    min-inline-size: 22.5rem;
}

.text-stroke {
    font-family: 'photograf';
    font-size: 5vh;
    letter-spacing: 4px;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: textStrokeAnim 4000ms linear both;
    animation-iteration-count: 1;
}

.reset {
    width: max-content;
    margin-inline: auto;
    padding: 0.5em 1.25em;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: 0;
    position: relative;
    background-color: hsl(49deg, 100%, 62%);
    color: #555;
}

.reset::after,
.reset::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: all 66ms ease;
}

.reset::after {
    box-shadow: 0 0.25rem 0.5rem #0003, -0.124rem 0.5rem 0.45rem #0002;
    opacity: 1;
}

.reset::before {
    box-shadow: inset 0 1px 0.5px 0px #777, inset 0 -2px 0.5px 0px #fff9,
        inset 0 4px 10px 0px #0007, inset 0 -4px 16px 0px #fff7;
    opacity: 0;
}

.reset:focus-visible {
    outline: 2px solid #0ebeff;
    outline-offset: 1px;
}

.reset:active {
    scale: 0.98;
}

.reset:is(:active, :focus-visible)::after {
    opacity: 0;
}

.reset:active::before {
    opacity: 1;
}




@keyframes textStrokeAnim {
    0% {
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        fill: #0000;
    }
    95% {
        stroke-dasharray: 0%;
        stroke-dashoffset: 90%;
        fill: #0000;
    }
    100% {
        stroke-dasharray: 0%;
        stroke-dashoffset: 0%;
        fill: #9b9dad;
        filter: drop-shadow(2px 2px 10px #0007);
    }
}
